body {
    background-color: #9E9E9E;
        
}

h1 {
    color: #E0AD19;
    text-align-last: auto;
    text-decoration-line: underline;
    text-decoration-color: #E0AD19;    
}

h2{

}

.retangular {
  width: 650px;
  height: 100px;
  border: 1px solid #000;
  padding: 10px;
  white-space: pre-wrap; /* mantém quebra */
}

a{
    background-color: black;
    color: white;
    font:menu;
    top: initial;

}



